# Кэши Python
__pycache__/
.pytest_cache/
test/__pycache__/
test/.pytest_cache/

# Файлы IDE
.idea/

# Файлы логов и временные файлы
*.log
*.tmp
*.temp

# Виртуальное окружение Python
.venv/

# файл черновика
final_7_draft.py

# папка вебинара
api_вебинар/

# папка с настройками VS Code 
.vscode/

# Сам файл .gitignore не игнорируем!
!.gitignore